<MatCardContent>
    <MatCaption Class="mat-text-danger">Are you sure you want to delete this comment?</MatCaption>
    <em>On @CommentItem.SubmittedOn.ToShortDateString() At @CommentItem.SubmittedOn.ToShortTimeString(), @CommentItem.UserName said:</em>
    <MatH5>@CommentItem.Subject</MatH5>
    <p>@CommentItem.Body</p>
</MatCardContent>
<MatCardActions>
    <MatButton OnClick="OnCancel">Cancel</MatButton>
    <MatButton OnClick="OnDelete">Delete</MatButton>
</MatCardActions>

@code {
    [Parameter]
    public Comment CommentItem { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public EventCallback OnDelete { get; set; }
}
