@using PhotoSharingApplication.Shared.Core.Entities

<MatCardContent>
    <em>On @CommentItem.SubmittedOn.ToShortDateString() At @CommentItem.SubmittedOn.ToShortTimeString(), @CommentItem.UserName said:</em>
    <MatH5>@CommentItem.Subject</MatH5>
    <p>@CommentItem.Body</p>
</MatCardContent>
<MatCardActions>
    <MatButton OnClick="RaiseEdit">Edit</MatButton>
    <MatButton OnClick="RaiseDelete">Delete</MatButton>
</MatCardActions>

@code {
    [Parameter]
    public Comment CommentItem { get; set; }

    [Parameter]
    public EventCallback<Comment> OnEdit { get; set; }

    [Parameter]
    public EventCallback<Comment> OnDelete { get; set; }

    async Task RaiseEdit(MouseEventArgs args) => await OnEdit.InvokeAsync(CommentItem);
    async Task RaiseDelete(MouseEventArgs args) => await OnDelete.InvokeAsync(CommentItem);
}