@using PhotoSharingApplication.Shared.Core.Entities

<MatCard>
    <MatCardContent>
        <EditForm Model="@Photo" OnValidSubmit="@(async ()=> await OnSave.InvokeAsync(Photo))">
            <p>
                <MatTextField @bind-Value="@Photo.Title" Label="Title" FullWidth></MatTextField>
            </p>
            <p>
                <MatTextField @bind-Value="@Photo.Description" Label="Description" TextArea FullWidth></MatTextField>
            </p>
            <p>
                <MatFileUpload OnChange="@HandleMatFileSelected"></MatFileUpload>
            </p>
            <p>
                <MatButton Type="submit">Upload</MatButton>
            </p>
        </EditForm>
        <MatCardMedia Wide="true" ImageUrl="@(Photo.PhotoImage.PhotoFile == null ? "" : $"data:{Photo.PhotoImage.ImageMimeType};base64,{Convert.ToBase64String(Photo.PhotoImage.PhotoFile)}")"></MatCardMedia>
    </MatCardContent>
</MatCard>

@code {
    [Parameter]
    public Photo Photo { get; set; }

    [Parameter]
    public EventCallback<Photo> OnSave { get; set; }


    async Task HandleMatFileSelected(IMatFileUploadEntry[] files) {
        if (Photo.PhotoImage == null)
            Photo.PhotoImage = new PhotoImage();
        IMatFileUploadEntry file = files.FirstOrDefault();
        Photo.PhotoImage.ImageMimeType = file.Type;

        if (file == null) {
            return;
        }

        using (var stream = new System.IO.MemoryStream()) {
            await file.WriteToStreamAsync(stream);
            Photo.PhotoImage.PhotoFile = stream.ToArray();
        }

    }
}
